.Search {
  form {
    justify-content: center;
    align-items: center;
    padding: 3px;
    background: linear-gradient(#000000,#FF0000);
    border-radius: 100px;

      input {
        font-size: 1.6rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
        border-radius: 100px;

    }
  }
}
