// These styles go with the index page.

.HomePage {

 ul {
      padding: 0 15px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 15px;
}
          li {
                display: flex;
                padding: 15px 10px 15px 15px;
                border: 1px solid black;
                border-radius: 10px;
                position: relative;
                min-height: 100px;

                     h1 {
                          margin-bottom: 8px;
                        }
                    img {
                          display: flex;
                          width: 100px;
                          align-item: center;
                          -webkit-transition: .3s ease-in-out;
                          transition: .3s ease-in-out;
                          position: absolute;
                          right: -30px;
                          top: 0;
                         }
                     img:hover{
                          width: 110px;
                         }

                          &:not(:last-child) {
                          margin-bottom: 5px;
                         }

                      h2 {
                          margin-top: 0;
                          margin-bottom: auto;
                         }

                      span {
                          display: none;
                          margin-bottom: auto;
                           }

                         p {
                          margin: 0;
                          margin-bottom: auto;
                           }

                         a {
                          color: #FF0000;
                           }
                   

                  }
         li:hover{
            opacity: 0.85;
    
       }
                
}
